* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

h1 {
  font-family: 'Acme', sans-serif;
  font-size: 4rem;
}

h2, h3, p {
  font-family: 'Raleway', sans-serif;
}

header {
  width: 100%;
  background-image: url(./assets/windswept_heath_by_fooyee-d813f9a.jpg);
  background-size: cover;
  height: 100vh;
}

header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .heroScript {
  padding-top: 10%;
  z-index: 5;
}

header .heroScript h1, header h2 {
  color: #e6e7e9;
}

header:after {
  content: "";
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(0, 0, 0, 0.7)));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 50%);
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  bottom: 50%;
  right: 0;
  left: 0;
  content: " ";
  z-index: 1;
}

.heroImage {
  width: 37%;
  z-index: 5;
  padding-top: 30px;
}

.heroImage img {
  width: 100%;
  border-radius: 15%;
}

i {
  font-size: 2rem;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: gray;
}

.aboutMe {
  width: 80%;
  margin: 15% auto;
  line-height: 1.5;
  padding: 5%;
  background: #e6e7e9;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.aboutMe h2 {
  text-align: center;
  margin-bottom: 2%;
}

.aboutMe .skillIcons {
  padding-top: 5%;
  text-align: center;
}

.aboutMe .skillIcons i {
  font-size: 4rem;
}

.project {
  width: 60%;
  margin: 10% 0;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  background: #e6e7e9;
  padding: 2%;
}

.project h3 {
  margin-bottom: 5%;
  font-size: 2rem;
}

.project p {
  margin-bottom: 3%;
  font-size: 1.5rem;
}

.project .imageBox {
  width: 100%;
  border: 1px solid black;
}

.project .imageBox img {
  width: 100%;
}

.project .skillIcons {
  padding-top: 5%;
  text-align: center;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flexContainer .flexSpacer {
  width: 40%;
}

footer {
  background: #262d18;
  width: 100%;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .contactMe {
  width: 9%;
}

footer .contactInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 3px white dashed;
  padding: 6%;
  background: #e6e7e9;
}

footer .contactInfo p {
  color: #644347;
  font-size: 1.5rem;
  line-height: 30px;
}
/*# sourceMappingURL=styles.css.map */