
* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

h1 {
font-family: 'Acme',
sans-serif;
font-size: 4rem;
}
h2, h3, p {
font-family: 'Raleway',
sans-serif;
}




header {
    width: 100%;
    background-image: url(./assets/windswept_heath_by_fooyee-d813f9a.jpg);
    background-size: cover;
    height: 100vh;
    
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
      

    }
    .heroScript {
  padding-top: 10%;
    z-index: 5;

    }

    .heroScript h1 , h2 {
        color: #e6e7e9;
    }
    
    

}
header:after {
    content: "";
    // background: rgba(50, 42, 51, 0.5);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 50%);
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    bottom: 50%;
    right: 0;
    left: 0;
    content: " ";
    z-index: 1;
}

.heroImage {
    width: 37%;
    z-index: 5;
    padding-top: 30px;
    img {
        width: 100%;
        border-radius: 15%;
    }

}

i {
    font-size: 2rem;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutMe {
       width: 80%;
       margin: 15% auto;
       border-bottom: 5px dashed;
       line-height: 1.5;
       padding-bottom: 5%;

   
    .skillIcons{
        padding-top: 5%;
        text-align: center;
    }
}

.project {
    width: 60%;
    margin: 10% 0;
    .imageBox{
        width: 100%;
        img {
            width: 100%;
        }
    }
.skillIcons {
    padding-top: 5%;
    text-align: center;
}
}

.flexContainer {
    display: flex;
    
    .flexSpacer {
        width: 40%;
    }

    
}

footer {
    background: #262d18;
    width: 100%;
    height: 20vh;
    display: flex;

    align-items: center;

    justify-content: center;
.contactMe {
    width: 100%;
}
    .contactInfo{
        display: flex;
        align-items: center;
        justify-content: center;
      
        p {
            color: white;
        }
    }


}






