
* {
    margin: 0;
    padding: 0;
}

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

h1 {
font-family: 'Acme',
sans-serif;
font-size: 4rem;
}
h2, h3, p {
font-family: 'Raleway',
sans-serif;
}




header {
    width: 100%;
    background-image: url(./assets/windswept_heath_by_fooyee-d813f9a.jpg);
    background-size: cover;
    height: 100vh;
    
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
      

    }
    .heroScript {
  padding-top: 10%;
    z-index: 5;

    }

    .heroScript h1 , h2 {
        color: #e6e7e9;
    }
    
    

}
header:after {
    content: "";
    // background: rgba(50, 42, 51, 0.5);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 50%);
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    bottom: 50%;
    right: 0;
    left: 0;
    content: " ";
    z-index: 1;
}

.heroImage {
    width: 37%;
    z-index: 5;
    padding-top: 10%;
    img {
        width: 100%;
        border-radius: 15%;
    }

}

i {
    font-size: 2rem;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: gray;
}

.aboutMe {
       width: 80%;
       margin: 15% auto;
       line-height: 1.5;
       padding: 5%;
       background: #e6e7e9;
       box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);

       h2 {
           text-align: center;
           margin-bottom: 2%;
       }

   
    .skillIcons{
        padding-top: 5%;
        text-align: center;

        i {
            font-size: 4rem;
        }
    }
}

.project {
    width: 60%;
    margin: 10% 0;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    background: #e6e7e9;

padding: 2%;

h3 {
    margin-bottom: 5%;
    font-size: 2rem;
}

p {
    margin-bottom: 3%;
    font-size: 1.5rem;
}

    .imageBox{
        width: 100%;
        border: 1px solid black;
        img {
            width: 100%;
        }
    }
.skillIcons {
    padding-top: 5%;
    text-align: center;
}
}

.flexContainer {
    display: flex;
    
    .flexSpacer {
        width: 40%;
    }

    
}

footer {
    background: #262d18;
    width: 100%;
    height: 20vh;
    display: flex;

    align-items: center;

    justify-content: center;
.contactMe {
    width:9%;
}
    .contactInfo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      border: 3px white dashed;
      padding: 6%;
       background: #e6e7e9;
        p {
            color: rgb(100, 67, 71);
            font-size: 1.5rem;
            line-height: 30px;
        }
    }


}

@media (max-width:1478px) {
    .heroImage {
        padding-top: 19%;
    }
}

@media (max-width:1190px) {
    .heroImage {
        width: 47%;
    }

    .projectContainer {
        padding: 5%;
    }
}

@media (max-width:1066px) {

    header .wrapper {
        flex-direction: column-reverse;
    }

    .project2>p:nth-child(2) {
        font-size: 1.25rem;
    }

}










